<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="lib/jquery.upvote.css">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
		<header>
			<% if (session.logged === true) { %>

			<div class="top-banner">
				<div id="logo-container">
					<a href="/home">
						<img id="logo" src="https://i.imgur.com/ELUJ2OP.png">
					</a>
				</div>
				<div class="login-pannel">
					<p class="banner-username">Hello, <%= session.username %></p> <br>
					<a href="/home/new">New Post</a> <br>
					<a href="/home/logout">Logout</a> <br>
				</div>
			</div>
			
			<div class="page-nav">
				<button class="page-link">Consciousness</button>
				<button class="page-link">Sailing</button>
				<button class="page-link">Cars</button>
				<button class="page-link">Baseball</button>
			</div>
				
			<% } else { -%>

			<div class="top-banner">
				<div id="logo-container">
					<a href="/home">
						<img id="logo" src="https://i.imgur.com/ELUJ2OP.png">
					</a>
				</div>
				<div class="login-pannel">
					<a href="/home/login">Login</a> <br>
					<a href="/home/register">Register</a> <br>
				</div>
			</div>
			
			<div class="page-nav">
				<button class="page-link">Consciousness</button>
				<button class="page-link">Sailing</button>
				<button class="page-link">Cars</button>
				<button class="page-link">Baseball</button>
			</div>
				
			<% } -%>
	
		</header>
		<main>
			<% for (let i = 0; i < posts.length; i++) { -%>


			<div class="post-banner">
				
				<div class="upvote-container">
    			<a>
    				<img class="upvote" src="https://i.imgur.com/5zQXqHX.png"></img>
    			</a> <br>
    			<%=posts[i].votes%><br>
    			<a>
    				<img class="downvote" src="https://i.imgur.com/5zQXqHX.png"></img>
    			</a> <br>
				</div>

				<%$(document).ready(()=>{
						$('.upvote').on('click', ()=>{
							$('a').toggleClass('voted')
							$.ajax({
								url:'/home/upvote/:id',
								success: (result)=>{

								}
							})
						})
				})%>

				<img class="post-thumbnail" src="http://awarenessmysteryvalue.org/wp-content/themes/oria/images/placeholder.png">
				<div class="post-text">
					<a class="post-title" href="/home/<%= posts[i].id %>"><%= posts[i].title %></a>
					<p class="post-description"><%= posts[i].body %></p>
				</div>
			</div>

			<% } -%>

		</main>
</body>
</html>