<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="lib/jquery.upvote.css">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mitr:300" rel="stylesheet">
</head>
<body>
		<header>
			<% if (session.logged === true) { %>

			<div class="top-banner">
				<div class="dropdown">
  					<button class="dropbtn">Levels</button>
  					<div class="dropdown-content">
  					  <a href="/home">level 1: Home</a>
  					  <a href="/level2">level 2: Beginner</a>
  					</div>
				</div>
				<div id="logo-container">
					<a href="/home">
						<img id="logo" src="https://i.imgur.com/ELUJ2OP.png">
					</a>
				</div>
				<div class="login-pannel">
					<span class="banner-username">Hello, <%=session.username%></span><br>
					<a href="/home/new">New Post</a><br>
					<a href="/home/logout">Logout</a><br>
				</div>
			</div>
				
			<% } else { -%>

			<div class="top-banner">
				<div class="dropdown">
  					<button class="dropbtn">Levels</button>
  					<div class="dropdown-content">
  					  <a href="/home">level 1: Home</a>
  					</div>
				</div>
				<div id="logo-container">
					<a href="/home">
						<img id="logo" src="https://i.imgur.com/ELUJ2OP.png">
					</a>
				</div>
				<div class="login-pannel">
					<a href="/home/login">Login</a> <br>
					<a href="/home/register">Register</a> <br>
				</div>
			</div>
			<% } -%>
	
		</header>
		<main>
			<h1 class="popular-posts">Popular Posts</h1>
			<div class="post-container">
				
			</div>
			<% for (let i = 0; i < posts.length; i++) { -%>


			<div class="post-banner">
				
				<div class="upvote-container">
    			<a class="up-vote" id="<%=posts[i].id%>">
    				<img class="upvote" src="https://i.imgur.com/5zQXqHX.png"></img>
    			</a> <br>

    			<div id="upvote-count"><p><%=posts[i].votes%></p></div><br>
    			<a> 

    			<p>
    				<%=posts[i].votes%><br>
    			</p>
    			<!-- <a> 
    				<img class="downvote" src="https://i.imgur.com/5zQXqHX.png"></img>
    			</a> <br>
				</div>

				<img class="post-thumbnail" src="http://awarenessmysteryvalue.org/wp-content/themes/oria/images/placeholder.png">
				<div class="post-text">
					<a class="post-title" href="/home/<%= posts[i].id %>"><%= posts[i].title %></a>
					<p class="post-description"><%= posts[i].body %></p>
				</div>
			</div>

			<% } -%>

			<script type="text/javascript" src="/client-js/app.js"></script>

		</main>
</body>
</html>